.Header {
    flex-basis: 1rem;
    flex-grow: 1;
    max-height: 4rem;
}

.title {
    margin-left: 2rem;
    height: 100%;
}

@media (max-height: 660px) { 
    .title {
        display: none;
    }
}